@import './base.css';

body,
html,
* {
  scroll-behavior: smooth;
  color: var(--vt-c-red);
  padding: 0;
  margin: 0;
}
body,
html {
  background: var(--color-background-soft);
}

a,
.red {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 100%, 37%, 0.2);
  }
}
