@import './base.css';

body,
html,
* {
  background: var(--color-background-soft);
  color: var(--vt-c-red);
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 100%, 37%, 0.2);
  }
}
